<h1>Hello, Rails!</h1>
<%= link_to I18n.t('articles.myblog'), controller: 'articles' %>

<%= image_tag 'https://images.pexels.com/photos/1213295/pexels-photo-1213295.jpeg?cs=srgb&dl=automobile-automotive-camaro-1213295.jpg&fm=jpg', class: "img-fluid" %>